header
{

	font-weight:normal;
	font-size:20px;
}
.error
{
	color:red;
}
.container
{
	background: white;
	max-width: 30%;
	margin:0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	padding:30px;
	box-sizing: border-box;
	text-align: center;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container input[type="text"],select
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	margin-bottom:50px;
	height:20px;
	border : 2px solid black;

}
.container input[type="button"]
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	height:30px;
	background-color:#00cc44;
	border:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container input[type="button"]:hover
{
background-color:#4dff88;
}

.container a{
text-decoration: none;
display:block;
border: 1px solid #ff1a1a;
background-color: #ff1a1a;	
width:40%;
margin-left:auto;
color:white;
	margin-right:auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}